numpy==1.26.4
aiosqlite==0.18.0
asgiref==3.7.2
bcrypt==4.0.1
cffi==1.15.1
click==8.1.6
cryptography==41.0.3
ecdsa==0.18.0
fastapi==0.68.1
greenlet==2.0.2
h11==0.14.0
passlib==1.7.4
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.12
pyotp==2.9.0
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.6
rsa==4.9
six==1.16.0
SQLAlchemy==1.4.25
starlette==0.14.2
typing_extensions==4.7.1
uvicorn==0.15.0
nltk
python-docx
psycopg2-binary
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pyresparser
aiofiles